@model Dictionary<string, ExifNET.Exif>

@using System.IO


@{
	ViewBag.Title = "Display Exifs";
}

<h2>Index.cshtml</h2>

@foreach (string key in @Model.Keys)
{
	<h3>File Name: @Path.GetFileName(key)</h3>
	var exif = @Model[key];
	<table>
		@*<thead><tr><td>Property Name</td><td>Property Value</td></tr></thead>*@
		<tbody>
			@foreach (var property in exif.GetType().GetProperties())
			{
				var name = property.Name;
				var value = property.GetValue(exif, null);
				<tr>
					<td>@name</td>
					<td>@value</td>
				</tr>
			}
		</tbody>
	</table>
}
